.App {
  text-align: center;

}

body {
  background-color: #E6ECF1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.title {
  font-size: 5rem;
  text-align: center;
  color: white;
  letter-spacing: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* alert component css starts  */
.alert {
  position: fixed;
  height: 0px;
}

/* alert component css ends  */
/* navbar css starts  */
.navbar {
  width: 100%;
  background: transparent;
  position: fixed;
}

.navbar a {
  text-underline-offset: 0;
  margin: 0rem 1rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: black;

}

#navbarSupportedContent {
  justify-content: end;
}

/* navbar css ends  */
/* home page css starts */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(./Images/background.png);
  background-size: cover;
  padding: 0 20vw;
}

.content {
  text-align: center;
}

.content p {
  font-size: 1.5rem;
  color: white;
}

.HomeButton {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: 2px solid white;
  background-color: transparent;
}

.HomeButton:hover {
  background-color: white;
  color: black;
}

/* home page css ends  */
/* Notes css starts  */
#title,
#description {
  color: white;
  background-color: transparent;
}

.Notecontainer {}

/* Notes css ends  */
/* main css starts  */
.main {
  padding: 5rem 2rem;
  color: black;
}

.main h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

/* main css ends  */
/* NoteItem css starts  */
.card {
  width: 30%;
  overflow: hidden;
  border-radius: 2rem;
  border: none;
  background-color: #E9EFF4;
  box-shadow: 20px 20px 20px #bdbdbd,
    -20px -20px 50px white;
  color: black;
  margin: 1rem;
}

.card-body {
  height: 10rem;
  overflow: hidden;
}

.card-text {
  height: 6rem;
  overflow: hidden;
}

/* NoteItem css ends  */
/* modal css starts  */
.modal-content {
  background-color: #292929;
}

#etitle,
#edescription {
  color: white;
  background-color: transparent;
}

.wordCounterOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
}

.wordCounterInner {
  background-color: rgb(43, 43, 43);
  position: relative;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
}

.close {
  background-color: #292929;
  border: none;
  color: white;
  font-size: 2rem;
}

/* modal css ends  */
/* notepop css starts  */
.notepop {
  background: rgba(14, 14, 14, 0.756);
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notepopinner {
  background: linear-gradient(90deg, rgba(22, 36, 30, 1) 36%, rgba(24, 43, 35, 1) 75%);
  width: 70vw;
  /* height: 50vh; */
  color: white;
  text-align: center;
  padding: 2rem;
}

/* notepop css ends  */

@media (max-width: 1200px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {

  .title {
    font-size: 4rem;
  }

  .content p {
    font-size: 1rem;
  }

  .HomeButton {
    margin: 2rem;
  }
}

@media (max-width: 640px) {

  .title {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1rem;
  }

}