.App {
  text-align: center;

}

body {
  background-color: #E6ECF1;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

i {
  cursor: pointer;
}

a ,h3{
  text-decoration: none;
  /* background: linear-gradient(to right, #ab0042,
                    #ff6b08, #004e0e);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text; */
            color: rgb(99, 99, 99);
}

a:hover {
  color: white;
}

.title {
  font-size: 5rem;
  text-align: center;
  color: white;
  letter-spacing: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* alert component css starts  */
.alert {
  position: fixed;
  height: 0px;
}

/* alert component css ends  */
/* popup css starts  */

/* popup css ends  */
/* navbar css starts  */
.navbar {
  width: 100%;
  background: transparent;
  position: fixed;
}

.navbar a {
  text-underline-offset: 0;
  margin: 0rem 1rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: black;

}

#navbarSupportedContent {
  justify-content: end;
}

/* navbar css ends  */
/* home page css starts */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(./Images/background.png);
  background-size: cover;
  padding: 0 20vw;
}

.content {
  text-align: center;
}

.content p {
  font-size: 1.5rem;
  color: white;
}

.HomeButton {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: 2px solid white;
  background-color: transparent;
}

.HomeButton:hover {
  background-color: white;
  color: black;
}

/* home page css ends  */
/* Notes css starts  */


/* Notes css ends  */
/* main css starts  */
.main {
  padding: 5rem 2rem;
  color: black;
}

.main h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

/* main css ends  */
/* Addnote css starts  */
.addNote{
  padding-top: 5vw;
}
.addNoteInner{
  border: 4px solid #959697af; 
  padding: 2rem 5rem;
}
.addNoteInner input {
  background-color: transparent;
  border: none;
  color: #282c34;
  text-transform: uppercase;
}
.addNoteInner textarea{
  background-color: transparent;
}
.tagname{
  border: 2px solid black;
}
/* Addnote css ends */
/* NoteItem css starts  */
.card {
  width: 30%;
  overflow: hidden;
  border-radius: 2rem;
  border: none;
  background-color: #E9EFF4;
  box-shadow: 20px 20px 20px #bdbdbd,
    -10px -10px 50px rgb(255, 255, 255);
  color: rgb(200, 24, 162);
  margin: 1rem;
}
.card a:hover{
  color: black;
}

.card-body {
  height: 10rem;
  overflow: hidden;
}

.card-text {
  height: 6rem;
  overflow: hidden;
}

/* NoteItem css ends  */
/* modal css starts  */
.modal-content {
  background-color: #292929;
}

#etitle,
#edescription {
  color: white;
  background-color: transparent;
}

.wordCounterOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
}

.wordCounterInner {
  background-color: rgb(43, 43, 43);
  position: relative;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
}

.close {
  background-color: #292929;
  border: none;
  color: white;
  font-size: 2rem;
}

/* modal css ends  */
/* notepop css starts  */
.notepop {
  background: rgba(189, 188, 188, 0.756);
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notepopinner > *{
  color: rgb(99, 99, 99);
}

.notepopinner {
  border-radius: 2rem;
  border: none;
  background-color: #E9EFF4;
  box-shadow: 20px 20px 20px #bdbdbd;
  width: 70vw;
  /* height: 50vh; */
  text-align: left;
  padding: 1rem;
}
.noterpopinnertop{
  display: flex;
  justify-content: space-between;
}
.notePopContent{
  text-align: center;
}
#save{
  display: none;
}

/* Dynamic Island css starts  */
.dynamicIsland{
  margin: auto;
  position: fixed;
  left: 40%;
  bottom: 1rem;
  height: 3rem;
  width: 20%;
  background-color: #292929;
  border: 1px solid white;
  border-radius: 2rem;
  box-shadow: 2px 2px 10px orange,
  -2px -2px 10px purple,
  2px 2px 10px white;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dynamicIsland:hover{
  transform: scale(1.2);
}
.dynamicIsland .btn{
  color: white;
}
/* Dynamic island css ends  */
/* Timer css starts  */
.countdown-wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

.countdown.flip-clock-wrapper ul {
  height: 144px;
  margin: 0 10px;
  width: 96px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); }

.countdown.flip-clock-wrapper ul li {
  line-height: 144px; }

.countdown.flip-clock-wrapper ul li a div div.inn {
  background-color: #607D8B;
  color: #F44336;
  font-size: 120px;
  text-shadow: 0 1px 2px #000; }

.countdown.flip-clock-wrapper ul,
.countdown.flip-clock-wrapper ul li a div div.inn {
  border-radius: 8px; }

.countdown.flip-clock-wrapper ul li a div.down {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }

.countdown.flip-clock-wrapper ul li a div.up:after {
  top: 71px; }

.countdown .flip-clock-dot.top {
  top: 38px; }

.countdown .flip-clock-dot.bottom {
  top: 86px; }

.countdown .flip-clock-dot {
  height: 20px;
  left: 20px;
  width: 20px;
  background: #607D8B; }

.countdown .flip-clock-divider {
  height: 144px;
  width: 60px; }
  .countdown .flip-clock-divider:first-child {
    width: 0; }

.countdown .flip-clock-divider.seconds .flip-clock-label,
.countdown .flip-clock-divider.minutes .flip-clock-label {
  right: -232px; }

.countdown .flip-clock-divider .flip-clock-label {
  color: #F44336;
  font-size: 30px;
  width: 232px; }

/* Timer css ends */

/* notepop css ends  */

@media (max-width: 1200px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {

  .title {
    font-size: 4rem;
  }

  .content p {
    font-size: 1rem;
  }

  .HomeButton {
    margin: 2rem;
  }
}

@media (max-width: 640px) {

  .title {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1rem;
  }

}